---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Sidebar from "../components/Sidebar.astro";
import About from "../components/About.astro";
import Technologies from "../components/Technologies.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Welcome to Astro.">
	<Sidebar />
	<Hero />
	<About />
	<Technologies />
	<Projects />

	<form action="POST">
		<div>
			<label for="name">
				<input type="text" name="name" id="name" />
			</label>
			<label for="name">
				<input type="email" name="name" id="name" />
			</label>
			<label for="name">
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</label>
		</div>
	</form>
</Layout>
