---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro." />
<h1>Welcome, my name is Alexander Acsai</h1>
<h2>I'm a Junior Full Stack Developer</h2>
<img class="profile-pic" src="/1191199.png" alt="Picture of me" />
<nav>
	<ul>
		<li>My CV</li>
		<li>Projects</li>
		<li>Contact me</li>
		<li>Back to top</li>
	</ul>
</nav>
<p>
	After years of experience in metalworking, welding, and locksmithing, I
	decided to transition my career to software development. I was learning by
	myself but i realized i need help. So in 2023 i started a 9 month course at
	Progmatic Academy Kft. in Hungary as a Junior Full Stack Developer. Since
	then i'm doing my own projects, learning new things and practicing every
	day.
</p>
<h1>Technologies</h1>
<ul>
	<li>HTML</li>
	<li>CSS</li>
	<li>Javascript</li>
	<li>React.js</li>
</ul>
<ul>
	<li>Node.js</li>
	<li>Postgresql</li>
	<li>Git</li>
	<li>Jira</li>
</ul>
<h1>Projects</h1>
<div class="project-container">
	<div>Phaeton</div>
	<div>Portfolio</div>
	<div>Coming soon</div>
</div>
<form action="POST">
	<div>
		<label for="name">
			<input type="text" name="name" id="name" />
		</label>
		<label for="name">
			<input type="email" name="name" id="name" />
		</label>
		<label for="name">
			<textarea name="" id="" cols="30" rows="10"></textarea>
		</label>
	</div>
</form>
<style>
	.profile-pic {
		border-radius: 150%;
	}
</style>
