---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import { imageSources } from "../scripts/imageData.js";
---

<Layout title="Phaeton project">
	<BackButton />
	<h1>Phaeton</h1>
	<h2>A shuttle, car and parking rental web app</h2>

	<div class="carousel-container">
		<div class="carousel">
			<img
				src="/phaeton-pics/Phaeton_1.png"
				alt="Phaeton_1"
				class="active"
			/>

			{
				imageSources.map((img, i) => {
					return <img src={img} alt={`Phaeton_${i}`} />;
				})
			}
		</div>
		<button class="prev-btn">⬅</button>
		<button class="next-btn">➡</button>
	</div>
	<div class="img-nav-container">
		<div class="img-nav active" id="phaeton_1"></div>

		{
			imageSources.map((str, i) => {
				return <div class="img-nav" id={`phaeton_${i + 2}`} />;
			})
		}
	</div>

	<div class="description">
		<h3>
			Description:
			<br />
			This was my school project, i was in a team of 4, scrum method
		</h3>
		<p>Frontend made in React.js, backend in Node.js, Express.js</p>
		<p>For database Postresql was used with Prisma ORM</p>
		<a
			target="_blank"
			class="source-code"
			href="https://github.com/Purplefingerex/phaeton">Source Code</a
		>
		<h3>Video demo:</h3>
		<iframe class="video-player" src="https://youtube.com/embed/zzP4PrdLFGg"
		></iframe>
		<p>
			The user can rent a car or reserve one or more parking spots. The
			user doesn't have to register, which means they can remain a guest
			user.
		</p>
		<p>After renting or reserving, the user gets a receipt via e-mail.</p>
	</div>
	<script src="../scripts/carousel.js">
		initializeCarousel();
	</script>
</Layout>
<style>
	iframe {
		border: none;
		border-radius: 5px;
		width: 420px;
		height: 320px;
	}
	.img-nav-container {
		margin-top: 20px;
		text-align: center;
		display: flex;
		gap: 30px;
		justify-content: center;
	}
	.img-nav {
		width: 18px;
		height: 18px;
		background-color: var(--gunmetal);
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.3s;
	}
	.img-nav.active {
		scale: 1.5;
		background-color: #fff;
	}

	.carousel-container {
		position: relative;
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
	}

	.carousel {
		display: flex;
		overflow-x: hidden;
	}

	.carousel img {
		width: 100%;
		height: 580px;
		border-radius: 15px;
		opacity: 0;
		transition: opacity 0.5s ease;
		display: none;
	}

	.carousel img.active {
		opacity: 1;
		display: block;
	}

	.prev-btn,
	.next-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: transparent;
		border: none;
		font-size: 50px;
		cursor: pointer;
		transition: all 0.3s;
	}
	.prev-btn:hover,
	.next-btn:hover {
		color: white;
	}
	.prev-btn {
		left: -60px;
	}

	.next-btn {
		right: -60px;
	}
	.description {
		margin: 80px auto;
		padding-bottom: 50px;
	}
	.source-code {
		color: var(--aliceBlue);
		padding: 5px;
		border-radius: 5px;
		background-color: var(--gunmetal);
		transition: all 0.3s;
	}
	.source-code:hover {
		background-color: var(--roseQuartz);
	}
	.source-code:active {
		background-color: black;
	}

	/* mobile */

	@media screen and (max-width: 910px) {
		.carousel img {
			width: 100%;
			height: 520px;
		}
		.prev-btn,
		.next-btn {
			display: none;
		}
	}
	@media screen and (max-width: 480px) {
		.img-nav-container {
			gap: 20px;
		}
		.carousel img {
			width: 100%;
			height: 420px;
		}
		.prev-btn,
		.next-btn {
			display: none;
		}
		iframe {
			width: 100%;
		}
	}
	@media screen and (max-width: 380px) {
		.carousel img {
			width: 100%;
			height: 320px;
		}
	}
</style>
