<div class="about-container" id="about">
	<div class="text-container first">
		<img src="/welder.png" alt="welder" />

		<p>
			After years of experience in metalworking, welding and locksmithing,
			I decided to transition my career to software development.
		</p>
	</div>
	<div class="text-container second">
		<img src="/learner.png" alt="learner" />

		<p>
			I was learning by myself but i realized i need help. So in 2023 i
			started a 9 month course at Progmatic Academy Kft. in Hungary as a
			Junior Full Stack Developer.
		</p>
	</div>

	<div class="text-container third">
		<img src="/avatar.png" alt="coder" />
		<div>
			<p>
				Since then i'm doing my own projects, learning new things and
				practicing every day.
			</p>
			<p>Feel free to ask any questions.</p>
		</div>
	</div>
</div>

<style>
	.about-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 80px;
		flex-direction: column;
		border-top: 2px solid rgb(84, 111, 110);
		background-color: #b8c5d6;
		height: 100vh;
		background-image: linear-gradient(
				45deg,
				rgba(100, 115, 130, 0.3),
				rgba(0, 0, 0, 0.3)
			),
			url("/tools_BG.png");
		background-size: cover;
	}
	.text-container {
		border-radius: 15px;
		max-width: 800px;
		background-color: var(--aliceBlue);
		display: flex;
		align-items: center;
	}
	p {
		line-height: 1.5em;
		margin: 20px;
		text-align: left;
		font-size: 1.2rem;
	}
	img {
		height: 200px;
		width: 200px;
		border-radius: 15px 0 0 15px;
	}
	.third {
		margin-left: 35%;
	}
	.first {
		margin-right: 35%;
	}

	@media screen and (max-width: 900px) {
		p {
			padding: 0px;
			margin: 0;
			font-size: 0.8rem;
		}
		img {
			width: 80px;
			height: 80px;
		}
		.third {
			align-items: center;
			margin: 0 20px;
		}

		.second,
		.first {
			padding: 5px;
			margin: 0 20px;
		}
		.about-container {
			gap: 70px;
		}
	}
</style>
