<div class="about-container">
	<div class="text-container first">
		<p>
			After years of experience in metalworking, welding and locksmithing,
			I decided to transition my career to software development.
		</p>
	</div>
	<div class="text-container second">
		<p>
			I was learning by myself but i realized i need help. So in 2023 i
			started a 9 month course at Progmatic Academy Kft. in Hungary as a
			Junior Full Stack Developer.
		</p>
	</div>

	<div class="text-container third">
		<img src="/avatar.png" alt="" />

		<p>
			Since then i'm doing my own projects, learning new things and
			practicing every day.
			<br />
			<br />
			<br />
			valami fontos info
		</p>
	</div>
</div>

<style>
	.about-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		flex-direction: column;
		border-top: 2px solid rgb(84, 111, 110);
		background-color: #b8c5d6;
		height: 100vh;
		background-image: linear-gradient(
				45deg,
				rgba(100, 115, 130, 0.3),
				rgba(0, 0, 0, 0.3)
			),
			url("/tools_BG.png");
		background-size: cover;
	}
	.text-container {
		border-radius: 15px;
		max-width: 800px;
		background-color: var(--aliceBlue);
	}
	p {
		font-size: 1.2rem;
	}
	img {
		width: 400px;
	}
	.third {
		display: flex;
		margin-left: 40%;
	}
	.first {
		margin-right: 40%;
	}
	.third img {
		height: 200px;
		width: 200px;
		border-radius: 15px 0 0 15px;
	}
	.text-container p {
		line-height: 1.5em;
		margin: 20px;
		text-align: left;
	}
</style>
