---
import Social from "./Social.astro";
const date = new Date();
---

<footer>
	<div class="footer-container">
		<Social
			platform="github"
			username="Purplefingerex"
			imgsrc="/github.svg"
		/>
		<Social
			platform="linkedin"
			username="in/alexander-acsai-906940272/"
			imgsrc="/linkedin.svg"
		/>
		<a href="mailto:acsaia@hotmail.com">
			<img src="/email.svg" alt="" />
		</a>
	</div>
	<p>Thank you for checking out my website!</p>
	<p>
		If you are interested,
		<a href="/cv/Alexander_Acsai_eng.pdf" download="Alexander_Acsai_eng">
			download</a
		> my CV in PDF
	</p>
	<p class="copyright">© Alexander Acsai {date.getFullYear()}</p>
</footer>

<style>
	.copyright {
		margin-top: 50px;
	}
	img {
		height: 50px;
		margin-top: 50px;
	}
	footer {
		background-color: var(--powderBlue);
		height: 300px;
	}
	.footer-container {
		margin-top:;
	}
</style>
