<div class="hero-container" id="top">
	<img loading="lazy" class="bg-img" src="/circlesbg.png" alt="" />
	<div class="zindexes">
		<h1 class="first-line">Welcome, my name is Alexander Acsai</h1>
		<h2 class="second-line">I'm a Junior Full Stack Developer</h2>
	</div>
	<div class="pic-container">
		<img
			loading="lazy"
			class="profile-pic"
			src="/1191199.png"
			alt="Picture of me"
		/>
	</div>
</div>

<style>
	.hero-container {
		height: 100vh;
		font-weight: 900;
	}
	.pic-container {
		margin-top: 150px;
	}
	.profile-pic {
		border: 11px solid rgb(84, 111, 110);
		border-style: outset;
		position: relative;
		top: -27px;
		left: 0;
		margin-right: 30px;
		z-index: 33;
		border-radius: 150%;
		margin-bottom: 110px;
	}

	.bg-img {
		opacity: 100%;
		position: absolute;
		z-index: 0;
		top: 120px;
		left: 0;
		right: 0;
		margin: auto;
		padding: 0;
		max-width: 900px;
	}

	@media screen and (max-width: 900px) {
		.bg-img {
			display: none;
		}
		.profile-pic {
			width: 300px;
			margin: auto;
		}
		.pic-container {
			margin-top: 30%;
		}
		.zindexes {
			font-size: 0.9rem;
		}
	}
</style>
