<div class="project-main" id="projects">
	<h1>Projects</h1>
	<div class="project-container">
		<div>Phaeton</div>
		<div>Portfolio</div>
		<div>Coming soon</div>
		<div>Coming soon</div>
		<div>Coming soon</div>
		<div>Coming soon</div>
	</div>
</div>

<style>
	.project-main {
		margin: 0;
	}
	.project-container {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin: auto;
		max-width: 920px;
		justify-content: space-between;
	}
	.project-container div {
		height: 200px;
		width: 300px;
		background-color: cadetblue;
		border-radius: 15px;
		box-shadow: 0px 5px 2px 0px var(--powderBlue);
	}
</style>
