<div class="project-main" id="projects">
	<h1>Projects</h1>
	<div class="project-container">
		<a href="/phaeton"
			><div>
				<img src="/phaeton-pics/Phaeton_1.png" alt="phaeton project" />
				<br />
				<br />
				Car and parking rental
			</div></a
		>
		<div class="project-div"><span>Coming soon</span></div>
	</div>
</div>

<style>
	.project-main {
		margin: 0;
	}
	.project-container {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin: auto;
		max-width: 920px;
		justify-content: space-between;
	}
	.project-container div {
		height: 200px;
		width: 300px;
		background-color: #bf4b46;
		border-radius: 15px;
		box-shadow: 0px 5px 2px 0px var(--powderBlue);
	}
	img {
		width: 300px;
		height: 200px;
		border-radius: 15px;
		transition: 0.3s;
	}
	img:hover {
		scale: 1.2;
	}
	.project-div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	@media screen and (max-width: 900px) {
		.project-container {
			justify-content: center;
		}
	}
</style>
