---

---

<div class="sidebar">
	<a href="/">My CV</a>
	<a href="#about">About Me</a>
	<a href="#projects">Projects</a>
	<a href="#contact">Contact me</a>
	<a href="#top">Back to top</a>
</div>

<style>
	.sidebar {
		z-index: 99;
		margin-top: 200px;
		background-color: var(--gunmetal);
		position: fixed;
		padding: 55px 20px 55px 10px;
		top: 0;
		display: flex;
		flex-direction: column;
		gap: 5px;
		border-radius: 0 15px 15px 0;
	}
	.sidebar a {
		color: var(--aliceBlue);
	}
</style>
