<div class="tech-main">
	<h1>Technologies</h1>
	<div class="tech-container">
		<ul>
			<li>CSS</li>
			<li>HTML</li>
			<li>React.js</li>
			<li>Javascript</li>
		</ul>

		<ul>
			<li>Git</li>
			<li>Jira</li>
			<li>Node.js</li>
			<li>Postgresql</li>
		</ul>
	</div>
</div>

<style>
	.tech-main {
		font-size: 1.3rem;
		background-color: var(--gunmetal);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-width: 800px;
		margin: -50px auto 20px;
		border-radius: 15px;
		color: #b8c5d6;
		box-shadow: 0px 5px 2px 0px var(--powderBlue);
	}
	.tech-container {
		display: flex;
		flex-wrap: wrap;
		gap: 100px;
		margin: 0 auto;
	}
	ul {
		list-style: none;
	}
	ul li {
		margin: 10px;
	}
</style>
